:root{
    --primary-color:#01567b;
    --secondary-color:#c00055;
    --accent1-color:#d7b00a;
    --accent2-color:#dfdfdf;
    --heading-font:"montserrat",sans-serif;
    --body-font:"open sans",sans-serif;
}
header{
    background-color: var(--accent2-color);
    color: var(--accent2-color);
    display: flex;
}
header img {
    padding: 1px;
    width: 100px ;
    height: auto;
    position: relative;
    left: 100px;
}
header nav a {
    color: var(--primary-color);
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--accent1-color);
    border: 1px solid;
    text-decoration: none;
    position: relative;
    left: 100px;
}
nav ul {
    display: flex;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 100%;
    margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero{
    position: relative;
}
.hero img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
h1{
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article img{
    float: right;
    width: 180px;
    height: auto;
    margin: 8px;
    border: 3px solid;
}
.hero article {
    position: absolute;
    background-color: var(--primary-color);
    top: 200px;
    opacity: 0.9;
    width:auto;
}
.socialmedia img {
    width: 30px;
    height: auto;
}
.flex-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items:center ;
    flex-direction: row;
    /* border: 1px solid rgb(0 0 0 /0.2); */
}
.flex-item{
    width: 100%;
    height: 400px;
    margin: 1rem;
    /* border: 1px solid rgb(0 0 0 /0.2);  */
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;

}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item1 {
    width: 100%;
    height: 100%;
}
.item2 {
    width: 100%;
    height: 100%;
}

.item3 {
    width: 100% ;
    height: 100%;
}
.flex-item img {
    width: 100%;
    height: 100%;
}
.flex-item p {
    width: 100%;
    height: 100%;
}
h2{
    text-align: center;
    font-size: xx-large;
    padding: 100px 1px 1px 1px;
}
.gallery img {
    width: 100%;
    border: 5px solid rgb(0 0 0 /0.2);
    padding: 1px;
}
.foot-note p {
    color: #01567b;
}
.socialmedia img {
    width: 20px;
}

form {
    /* display: block; */
    width: 500px;
    height: auto;
    text-align: center;
    padding: 10px;
    margin:auto ;
    color: var(--primary-color);
    border-color: black;
    background-color:var(--accent1-color);
}
label {
    display: block;
    justify-content:flex-start;
    margin: 2px;
}
/* .map {
    display:flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 60px;
    
} */
input{
    width:350px ;
    margin-bottom: 8px;
}
legend{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
textarea{
    width: auto;
    background-color: white;
}
button{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-color:var(--accent2-color);
}

section{
    border: 2px;
    padding: 2px;
    display:block;
    float:right;
    margin: 1px;
}