@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root{
    --primary-color: #2d4a73;
    --secondary-color: #6AC6E2;
    --accent1-color: #8CCB84;
    --accent2-color: #DBCCA5;

    --heading-font: 'roboto', rock-salt;
    --paragraph-font: 'roboto', rock-salt;

    --nav-background-color: #6AC6E2;
    --nav-link-color: #2d4a73;
    --nav-hover-link-color: #ffff;
    --nav-hover-background-color: #2d4a73;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: - block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}